.social-iocn{
	padding: 8px;
}
.my-iocn{
	padding: 10px;
	font-size: 19px;
	color: #fff;
}
.img-section{
	width: 40%;
}
.img-section img{
	width: 140px;
}
.sarff-img{
	width: 40%;
}
.sarff-img img{
	width: 200px;
}